html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Montserrat, sans-serif;
  color: #3c3c3c;
}

/* Splash */
.splash {
  color: #fff;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 50vh;
  text-align: center;
}
@media (min-width: 640px) {
  .splash {
    height: 100vh;
  }
}

.splash__background {
  background-image: url('/img/feature.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  width: 100%;
  height: 100%;
  filter: brightness(50%);
}

.splash__content {
  width: 75%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.splash__title {
  margin-top: 0;
}
@media (min-width: 640px) {
  .splash__title {
    font-size: 3rem;
  }
}
@media (min-width: 960px) {
  .splash__title {
    font-size: 4rem;
  }
}

.splash__subtitle {
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 2rem;
}
@media (min-width: 640px) {
  .splash__subtitle {
    font-size: 1.25rem;
  }
}
@media (min-width: 960px) {
  .splash__subtitle {
    font-size: 1.5rem;
  }
}

.splash__button {
  display: inline-block;
  color: #fff;
  background: rgba(0, 0, 0, .7);
  font-size: .8rem;
  padding: .5rem;
  border: 2px solid #fff;
  text-decoration: initial;
  transition: all .3s ease;
  margin-right: 1rem;
  border-radius: 5px;
}
.splash__button:hover,
.splash__button:focus {
  color: #212121;
  background: #fff;
}
.splash__button:last-child {
  margin-right: 0;
}
@media (min-width: 640px) {
  .splash__button {
    font-size: .9rem;
  }
}
@media (min-width: 960px) {
  .splash__button {
    font-size: 1rem;
  }
}

.section {
  max-width: 720px;
  margin: auto;
}
.section__title {
  text-align: center;
  font-size: 2rem;
}
@media (min-width: 640px) {
  .section__title {
    font-size: 3rem;
  }
}

.promo {
  display: flex;
  margin-bottom: 4rem;
  flex-wrap: wrap;
}
.promo:nth-child(2n) {
  flex-wrap: wrap-reverse;
}
@media (min-width: 640px) {
  .promo {
    flex-wrap: nowrap;
  }
  .promo:nth-child(2n) {
    flex-wrap: nowrap;
  }
}
.promo__left {
  text-align: center;
  flex: 1 1 100%;
  padding: 1rem;
}
@media (min-width: 640px) {
  .promo__left {
    text-align: right;
    flex: 1 1 50%;
  }
}
.promo__right {
  padding: 1rem;
  text-align: center;
  flex: 1 1 100%;
}
@media (min-width: 640px) {
  .promo__right {
    text-align: left;
    flex: 1 1 50%;
  }
}
.promo__image {
  width: 100%;
}
.promo__title {
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: 600;
}
@media (min-width: 640px) {
  .promo__title {
    font-size: 2rem;
  }
}
.promo__subtitle {
  font-size: 1.25rem;
  font-weight: 500;
}
.promo__blurb {
  line-height: 1.5;
  font-weight: 300;
  margin-bottom: 0;
}

.form-two-column {
  max-width: 320px;
  margin: 2rem auto;
}
@media (min-width: 640px) {
  .form-two-column {
    display: flex;
    flex-wrap: wrap;
    max-width: 560px;
    justify-content: space-between;
  }
}
.form-two-column__item {
  flex: 0 0 47.5%;
  margin-bottom: 1rem;
}
.form-two-column__item:last-child {
  margin-bottom: 0;
}

.field {
  position: relative;
  border-bottom: 3px solid #3c3c3c;
  height: 50px;
}
.field__label {
  position: absolute;
  font-size: .85rem;
  font-weight: 700;
  top: 1.25rem;
  left: .5rem;
  transition: top .3s ease, font-size .3s ease;
}
.field__label--active {
  font-size: .75rem;
  top: 0;
}
.field__label--select {
  font-size: .75rem;
  font-weight: 700;
  margin-left: .5rem;
}
.field__input {
  border: 0;
  width: 100%;
  height: 100%;
  padding: 1.25rem .5rem .5rem;
  font-size: .95rem;
}
.field__input--select {
  background: 0;
  border: 0;
  border-radius: 0;
  margin-top: .35rem;
  color: #3c3c3c;
  font-size: .95rem;
  width: 100%;
}

.submit {
  display: block;
  border: 0;
  margin: auto;
  background: #3c3c3c;
  color: white;
  padding: .5rem 1rem;
  font-size: 1rem;
}

.footer {
  background: #3c3c3c;
  color: #fff;
  font-size: .75rem;
  padding: 2rem;
  margin-top: 4rem;
}
